body {
    background-color:  #7dcbf2;
    height: 100%;
}

/***** Top content *****/
.form-box2{
    margin-top: 100px
}


/***** Top content *****/
.inner-bg {
    padding: 120px 0 170px 0;
    background-color: #525453;
}

.top-content .text {
    padding-top: 120px;
    text-align: center;
    color: #fff;

}

.top-content .text h1 { color: #fff; }
.top-content .text p { text-align: justify;}

.top-content .description {
    margin: 20px 0 10px 0;
    opacity: 0.8; 
}

.form-top {
    overflow: hidden;
    padding: 0 25px 0px 25px;
    background: #7dcbf2;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 20px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

<div class=​"form-group">​…​</div>​.form-bottom form .input-error {
    border-color: #19b9e7;
}

/***** button style *****/
button.btn {
    height: 50px;
    width: 100px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn.full{ 
    width: 100%;
}


.show-video{
    -webkit-appearance: none;
    border: none;
    background: transparent url("../../public/images/icon_watch.png") no-repeat 50% 2px;
    color: #fff;
    font-size: 12px;
    padding-top: 90px;
    margin-top: 10px;
    text-transform: uppercase;


}

.show-video:hover{
    background-image:url("../../public/images/icon_watch-active.png")
}

/***** Media queries *****/
.show-video:focus{outline:none}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    
    .inner-bg { padding: 60px 0 110px 0; }
    .top-content .text { padding-top: 0; padding-bottom: 60px; }
    .top-content .top-big-link { margin-top: 25px; }
    .top-content .top-big-link a.btn { margin-top: 10px; }
}

@media (max-width: 415px) {
    
    h1, h2 { font-size: 32px; }

}

/* NAVBAR STYLE */


.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}


/* ADDED PADDING IN NAVBAR */


.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/


.navbar-pad-original {
      padding:0px;
}

.navbar-inverse {
    background-color: #7dcbf2;
    border-color: #1E51FF;
}

.navbar-inverse .navbar-toggle {
    border-color: skyblue;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(26, 171, 188, 0.36);
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgba(28, 114, 255, 0.29);
    boder-radius: 5px ;
}


/* CLASS FOR INSIDE SCROLL BAR*/

.container-scroll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: overflow;
}

.Middle {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.Middle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 500px;
}







