<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8" />
<head>
<title>UcscVideo Bay Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/ucscvideobay.css" >
    <style>
        @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
        @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
        *{margin:0; padding:0}
    </style>


</head>
<body>
<header class="site-header" role="banner">
    <div class="site-wrapper">
        <nav class="site-nav nav" role="navigation">
            <a class="home-link" href="#"><img src="../../public/images/logo.png" width="150" height="40"></a>


        </nav>



    </div>

</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-6" style="float: right">
                    <div class="form">
                            <div class="header">
                                <h2>Sign In</h2>
                            </div>
                            <div class="login">
                                    <form action="">
                                        <ul>
                                                <li>
                                                    <span class="un"><i class="fa fa-user"></i></span><input type="text" class="text" placeholder="User Name Or Email"/></li>
                                                <li>
                                                    <span class="un"><i class="fa fa-lock"></i></span><input type="password" class="text" placeholder="User Password"/></li>
                                                <li>
                                                    <input type="submit" value="LOGIN" class="btn">
                                                </li>
                                                <li>
                                                    <div class="span"><span class="ch"><input type="checkbox" id="r"> <label for="r">Remember Me</label> </span> <span class="ch"><a href="#">Forgot Password?</a></span></div></li>
                                         </ul>
                                    </form>

                                    </div><br/>
                        <div class="sign">
                            <div class="need">Need new account ?</div>
                            <div class="up"><a href="">Sign Up</a></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>